/* line 1, ../../GitHub/Project-7-WebApp-Dashboard/scss/base/_typography.scss */
* {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 20px;
}

/* line 1, ../../GitHub/Project-7-WebApp-Dashboard/scss/base/_base.scss */
* {
  margin: 0;
}

/* line 6, ../../GitHub/Project-7-WebApp-Dashboard/scss/base/_base.scss */
body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "dash";
}

/* line 21, ../../GitHub/Project-7-WebApp-Dashboard/scss/base/_base.scss */
hr {
  border: 1px solid #d9d9d9;
}

/* line 26, ../../GitHub/Project-7-WebApp-Dashboard/scss/base/_base.scss */
.container {
  margin: auto;
  padding: 5px;
  width: 97%;
  justify-content: center;
  align-items: center;
}

/* line 32, ../../GitHub/Project-7-WebApp-Dashboard/scss/base/_base.scss */
.container h4 {
  margin: 0px 0px 5px;
}

@media (min-width: 768px) {
  /* line 38, ../../GitHub/Project-7-WebApp-Dashboard/scss/base/_base.scss */
  body {
    grid-template-columns: 7% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "nav dash";
  }
}

/* ============= HEADER =================== */
/* line 2, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.title {
  align-items: center;
  background-color: #7477bf;
  color: #f2f2f2;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  max-height: 10vh;
  padding: 0 10px;
}

/* line 12, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
h2 span {
  font-weight: 300;
}

/* line 15, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.hash {
  transform: scale(0.04, 1);
  margin: 0 0;
}

/* line 19, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.prof-pic {
  border-radius: 50%;
  height: 5vh;
}

/* line 23, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.info-bar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6vw;
}

/* line 29, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.info-bar svg {
  margin-right: 15px;
}

/* line 32, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.info-bar p {
  margin-right: 10px;
}

/* line 35, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.info-bar img {
  margin-right: 10px;
}

/* line 38, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.info-bar h6 {
  font-size: 14px;
}

/* line 42, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.bell {
  fill: #f2f2f2;
  height: 9vh;
  width: 20px;
  margin: 0px;
}

/* line 48, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.bell:hover {
  animation: bell 1s ease-in-out backwards;
}

/* line 51, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.hide {
  opacity: 0;
}

/* line 55, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.pop-up-list {
  position: absolute;
  top: 100px;
  left: calc(50vw - 45vw);
  width: 90vw;
  padding-left: 0;
  z-index: 1;
}

/* line 62, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.pop-up-list li {
  background-color: #4d4c72;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* line 72, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
.notification-bubble {
  display: block;
  position: relative;
  bottom: 2vh;
  right: 20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: lime;
}

@keyframes bell {
  0% {
    transform: rotate(10deg) scale(1.2);
    fill: lime;
  }
  50% {
    transform: rotate(-10deg) scale(0.8);
    fill: #f2f2f2;
  }
  100% {
    transform: rotate(5deg) scale(1.1);
    fill: lime;
  }
}

@media screen and (min-width: 768px) {
  /* line 99, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
  .title {
    justify-content: space-between;
  }
  /* line 102, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
  .info-bar {
    justify-content: flex-end;
  }
  /* line 105, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
  .pop-up-list {
    left: calc(50vw - 35vw + 19.5px);
    width: 70vw;
  }
}

@media (min-width: 1024px) {
  /* line 111, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_header.scss */
  .pop-up-list {
    left: calc(50vw - 35vw + 28px);
    width: 70vw;
  }
}

/* ======= Main Nav =================== */
/* line 2, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_mainNav.scss */
.main-nav {
  padding: 2px 40px;
  display: flex;
  background-color: #4d4c72;
  grid-area: nav;
  justify-content: space-around;
}

/* line 9, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_mainNav.scss */
.nav-icon {
  height: 7vh;
  fill: #f2f2f2;
  width: 35px;
}

@media screen and (min-width: 768px) {
  /* line 16, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_mainNav.scss */
  .main-nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
  }
  /* line 23, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_mainNav.scss */
  .nav-icon {
    margin-top: 1rem;
  }
}

/* ============== DASHBOARD =============== */
/* line 2, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
main {
  max-width: 100%;
}

/* line 5, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.dash-board {
  grid-area: dash;
  width: 100%;
  margin: 0;
}

/* line 11, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.wrap {
  display: flex;
  align-items: center;
}

/* line 17, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.wrap h3 {
  padding: 10px;
  flex-basis: 35%;
}

/* line 21, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.sub-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 26, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.dash-grid-title {
  grid-area: title;
}

/* line 30, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.box {
  flex-basis: 60%;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-radius: 0 5px;
  background-color: #f2f2f2;
}

/* line 41, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.alert {
  max-width: 90%;
  cursor: pointer;
  margin: 20px auto;
}

/* line 47, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.alert-banner {
  background-color: #7477bf;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2px 15px;
  border-radius: 5px;
  margin-top: 0;
  align-items: center;
}

/* line 56, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.alert-banner p {
  font-size: 16px;
}

/* line 60, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
.alert-close {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  /* line 66, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
  .box {
    flex-basis: 82%;
    max-width: 60%;
  }
  /* line 70, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
  .dash-board {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1.5fr auto auto;
    max-width: 100%;
    grid-template-areas: "title title" "traffic traffic" "daily mobile" "social social";
    justify-items: stretch;
    gap: 0px 0px;
  }
  /* line 84, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
  .chart-1,
  .chart-2,
  .chart-3 {
    border-bottom: 2px solid #d9d9d9;
  }
  /* line 89, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
  .chart-3 {
    border-left: 2px solid #d9d9d9;
  }
}

@media (min-width: 1024px) {
  /* line 94, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
  .btm-grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "new-m recent-a" "messenger settings";
    justify-items: stretch;
  }
  /* line 105, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
  .new-members {
    border-right: 2px solid #d9d9d9;
  }
  /* line 112, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
  .messenger {
    border-top: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
  }
  /* line 116, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_dashBoard.scss */
  .settings {
    border-top: 2px solid #d9d9d9;
  }
}

/* ======= charts ========== */
/* line 3, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
canvas {
  margin: 25px 0 20px;
  max-width: 100%;
}

/* line 7, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
ul.link-bar {
  margin: auto;
  padding-left: 0;
  display: flex;
  width: 90%;
  list-style-type: none;
  justify-content: space-around;
}

/* line 16, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
.chart-link {
  color: black;
  padding: 1px 10px;
  border-radius: 15px;
}

/* line 21, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
.active {
  background-color: #81c98f;
  color: #f2f2f2;
}

/* line 25, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
.chart-1 {
  grid-area: traffic;
}

/* line 28, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
.chart-2 {
  grid-area: daily;
}

/* line 31, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
.chart-3 {
  grid-area: mobile;
}

@media (min-width: 768px) {
  /* line 36, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
  .traffic-links {
    display: flex;
    justify-content: space-between;
  }
  /* line 39, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
  .traffic-links h4 {
    position: relative;
    top: 0;
    left: -6px;
  }
  /* line 45, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_charts.scss */
  ul.link-bar {
    width: 40%;
    margin: 0;
  }
}

/* line 2, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
.social {
  grid-area: social;
  max-width: 100%;
  padding-bottom: 15px;
}

/* line 6, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
.social h4 {
  position: relative;
  top: 0;
  left: -6px;
}

/* line 13, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
.social-card {
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 0.25px solid #d9d9d9;
  display: flex;
  min-width: 23%;
  align-items: center;
  padding: 15px;
  margin: 10px auto;
}

/* line 22, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
.social-card div:first-child {
  display: flex;
  justify-content: center;
  background-color: #7477bf;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* line 32, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
.social-svg {
  fill: #f2f2f2;
  max-width: 40px;
}

/* line 36, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
.social-details {
  margin-left: 10px;
  margin-bottom: 10px;
}

/* line 39, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
.social-details h4 {
  color: #7477bf;
  margin: 0;
}

/* line 43, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
.social-details p {
  margin: 0;
  font-size: 1.8rem;
  line-height: 0.5;
  font-family: sans-serif;
  color: #777777;
}

@media (min-width: 768px) {
  /* line 53, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
  .social-card {
    flex-grow: 1;
    justify-content: center;
    margin: auto 5px;
  }
  /* line 58, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
  .social-wrap {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  /* line 64, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_socialMedia.scss */
  .social-card {
    justify-content: flex-start;
  }
}

/* line 2, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.new-members {
  grid-area: new-m;
}

/* line 7, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.new-members div:nth-last-child(1),
.recent-activity div:nth-last-child(1) {
  border-bottom: none;
}

/* line 11, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.recent-activity {
  grid-area: recent-a;
}

/* line 15, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.members-card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  line-height: 1rem;
  text-align: center;
}

/* line 25, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.members-card h5 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

/* line 29, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.members-card p {
  font-size: 0.8rem;
}

/* line 32, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.members-card a {
  text-decoration: none;
  color: #7477bf;
}

/* line 38, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.user-pic {
  border-radius: 50%;
  height: 10vh;
  margin: 4px 0;
}

/* line 44, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
.hidden-arrow {
  opacity: 0;
}

@media (min-width: 768px) {
  /* line 49, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
  .members-card {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  /* line 54, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
  .name-email-wrap {
    width: 90%;
  }
  /* line 57, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
  .name-email-wrap div {
    display: flex;
    justify-content: space-between;
  }
  /* line 62, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
  .hidden-arrow {
    opacity: 1;
    font-size: 1.5rem;
    font-weight: 550;
    color: #7477bf;
  }
  /* line 68, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_newMembers.scss */
  .user-pic {
    margin-right: 20px;
  }
}

/* line 3, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
.messenger {
  grid-area: messenger;
}

/* line 5, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
.messenger h4 {
  margin-bottom: 10px;
}

/* line 9, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
#message-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* line 15, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
.search-input,
.message-user {
  background-color: #f2f2f2 !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  border: 1px solid #d9d9d9;
  margin-bottom: 15px !important;
}

/* line 24, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
#autoComplete.search-input {
  width: 93%;
  padding: 0px;
  border: 1px solid #d9d9d9;
}

/* line 28, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
#autoComplete.search-input::placeholder {
  display: none;
  color: #777777;
}

/* line 33, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
.send-btn {
  width: 100%;
  background-color: #7477bf;
  border-radius: 5px;
  color: #f2f2f2;
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
}

@media (min-width: 768px) {
  /* line 43, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
  #autoComplete.search-input {
    width: 97%;
  }
}

@media (min-width: 1024px) {
  /* line 48, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_messenger.scss */
  #autoComplete.search-input {
    width: 95%;
  }
}

/* line 2, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
.settings {
  padding-bottom: 10px;
  grid-area: settings;
}

/* line 6, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
.check-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

/* line 15, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
.switch-light {
  width: 100px;
}

/* line 19, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
.time-zone {
  width: 100%;
  cursor: pointer;
  margin: 0 auto 15px;
  background-color: #f2f2f2;
  color: #777777;
  padding: 5px 12px;
  padding-right: 15px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  appearance: none;
  background-image: url("../../images/downward-arrow.png");
  background-repeat: no-repeat;
  background-position: 96% 65%;
  background-size: 7%;
}

/* line 36, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
.save-cancel-wrap {
  display: flex;
  justify-content: space-between;
}

/* line 39, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
.save-cancel-wrap button {
  width: 49%;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background-color: #7477bf;
  color: #f2f2f2;
}

/* line 46, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
.save-cancel-wrap button:last-child {
  background-color: #d9d9d9;
}

@media (min-width: 768px) {
  /* line 53, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
  .check-boxes {
    max-width: 45%;
  }
}

@media (min-width: 1024px) {
  /* line 58, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
  .settings {
    padding-bottom: 0;
  }
  /* line 60, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
  .settings h4 {
    margin-bottom: 40px;
  }
  /* line 65, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
  .check-boxes {
    max-width: 65%;
  }
  /* line 68, ../../GitHub/Project-7-WebApp-Dashboard/scss/components/_settings.scss */
  .time-zone {
    margin-top: 36px;
  }
}

/*# sourceMappingURL=styles.css.map */