/* ======= charts ========== */

canvas {
  margin: 25px 0px;
  max-width: 100%;
  border-bottom: 1px solid $accent-color;
}
ul.link-bar {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  // justify-content: space-around;
}

.chart-link {
  color: black;
  padding: 1px 10px;
  border-radius: 15px;
}
.active {
  background-color: $high-light-color;
}
.chqrt-1 {
  grid-area: traffic;
}
.chart-2 {
  grid-area: daily;
}
.chart-3 {
  grid-area: mobile;
}

@media (min-width: 768px) {
  .traffic-links {
    display: flex;
    justify-content: space-between;
  }
}
