/* ============== DASHBOARD =============== */
main {
  max-width: 100%;
}
.dash-board {
  grid-area: dash;
  width: 100%;
  margin: 0;
}

.wrap {
  display: flex;
  align-items: center;
  // justify-content: space-around;
}

.wrap h3 {
  padding: 10px;
  flex-basis: 35%;
}
.sub-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dash-grid-title {
  grid-area: title;
}

.box {
  flex-basis: 60%;

  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-radius: 0 5px;
  background-color: #f2f2f2;
}

// ============== ALERT ============//

.alert {
  max-width: 90%;
  cursor: pointer;
  margin: 20px auto;
}

.alert-banner {
  background-color: #7477bf;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2px 15px;
  border-radius: 5px;
  margin-top: 0;
  align-items: center;
  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .box {
    flex-basis: 82%;
    max-width: 60%;
  }
  .dash-board {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1.5fr auto auto;
    max-width: 100%;
    grid-template-areas:
      "title title"
      "traffic traffic"
      "daily mobile"
      "social social";
    justify-items: stretch;
    gap: 0px 0px;
  }

  .chart-1,
  .chart-2,
  .chart-3 {
    border-bottom: 2px solid $border-hr-color;
  }
  .chart-3 {
    border-left: 2px solid $border-hr-color;
  }
}
@media (min-width: 1024px) {
  .btm-grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "new-m recent-a"
      "messenger settings";
    justify-items: stretch;
  }

  .new-members {
    // border-top: 2px solid $border-hr-color;
    border-right: 2px solid $border-hr-color;
  }
  .recent-activity {
    // border-top: 2px solid $border-hr-color;
  }
  .messenger {
    border-top: 2px solid $border-hr-color;
    border-right: 2px solid $border-hr-color;
  }
  .settings {
    border-top: 2px solid $border-hr-color;
  }
}
