/* ============= HEADER =================== */
.title {
  align-items: center;
  background-color: $primary-color;
  color: #f2f2f2;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  max-height: 10vh;
  padding: 0 10px;
}
h2 span {
  font-weight: 300;
}
.hash {
  transform: scale(0.04, 1);
  margin: 0 0;
}
.prof-pic {
  border-radius: 50%;
  height: 5vh;
}
.info-bar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6vw;
  svg {
    margin-right: 15px;
  }
  p {
    margin-right: 10px;
  }
  img {
    margin-right: 10px;
  }
  h6 {
    font-size: 14px;
  }
}
.bell {
  fill: $accent-color;
  height: 9vh;
  width: 20px;
  margin: 0px;
}
.bell:hover {
  animation: bell 1s ease-in-out backwards;
}
.hide {
  opacity: 0;
}

.notification-bubble {
  display: block;
  position: relative;
  bottom: 2vh;
  right: 20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: lime;
}

@keyframes bell {
  0% {
    transform: rotate(10deg) scale(1.2);
    fill: lime;
  }
  50% {
    transform: rotate(-10deg) scale(0.8);
    fill: #f2f2f2;
  }
  100% {
    transform: rotate(5deg) scale(1.1);
    fill: lime;
  }
}

@media screen and (min-width: 768px) {
  .title {
    justify-content: space-between;
  }
  .info-bar {
    justify-content: flex-end;
  }
}
