/* ======= Main Nav =================== */
.main-nav {
  padding: 0 40px;
  display: flex;
  background-color: $secondary-color;
  grid-area: nav;
  justify-content: space-around;
}
.nav-icon {
  height: 8vh;
  fill: $accent-color;
  width: 35px;
}
