/* ======= Main Nav =================== */
.main-nav {
  padding: 5px 40px;
  display: flex;
  background-color: $secondary-color;
  grid-area: nav;
  justify-content: space-around;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.nav-icon {
  height: 7vh;
  fill: $accent-color;
  width: 35px;
}

@media screen and (min-width: 768px) {
  .main-nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }

  .nav-icon {
    margin-top: 1rem;
  }
}
