// ============ NEW MEMBERS ==================//

.new-members,
.recent-activity {
  div:nth-last-child(1) {
    border-bottom: none;
  }
}

.members-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $border-hr-color;
  line-height: 1rem;
  // margin-bottom: 15px;
  text-align: center;
  h5 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  p {
    font-size: 0.8rem;
  }
  a {
    text-decoration: none;
    color: $primary-color;
  }
}

.user-pic {
  border-radius: 50%;
  height: 10vh;
  margin: 4px 0;
}

.hidden-arrow {
  opacity: 0;
}

@media (min-width: 768px) {
  .members-card {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .name-email-wrap {
    width: 85%;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: space-between;
    }
  }
  .hidden-arrow {
    opacity: 1;
    font-size: 1.5rem;
    font-weight: 550;
    color: $primary-color;
  }
}

@media (min-width: 1024px) {
}
