// =============== SETTINGS ===============//
.settings {
    padding-bottom: 10px;
}
.check-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.switch-light {
    width: 100px;
}

.time-zone {
    width: 100%;
    cursor: pointer;
    margin: 0 auto 1rem;
    background-color: $accent-color;
    color: $typography;
    padding: 5px 12px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1px solid $border-hr-color;
    appearance: none;
    background-image: url("../../images/downward-arrow.png");
    background-repeat: no-repeat;
    background-position: 96% 65%;
    background-size: 7%;
}

.save-cancel-wrap {
    display: flex;
    justify-content: space-between;
    button {
        width: 49%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid $border-hr-color;
        background-color: $primary-color;
        &:last-child {
            background-color: $border-hr-color;
        }
    }
}

@media (min-width: 768px) {
    .check-boxes {
        max-width: 45%;
    }
}
@media (min-width: 1024px) {
    .check-boxes {
        max-width: 65%;
    }
}
