// ===============SOCIAL MEDIA =================//
.social {
  grid-area: social;
  max-width: 100%;
  padding-bottom: 15px;
}

.social-card {
  background-color: $accent-color;
  border-radius: 5px;
  border: 0.25px solid $border-hr-color;
  display: flex;

  align-items: center;
  padding: 15px;

  margin: 10px auto;
  div:first-child {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.social-svg {
  fill: $accent-color;
  max-width: 40px;
}
.social-details {
  margin-left: 10px;
  margin-bottom: 10px;
  h4 {
    color: $primary-color;
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 1.8rem;
    line-height: 0.5;
    font-family: sans-serif;
    color: $typography;
  }
}

@media (min-width: 768px) {
  .social-card {
    justify-content: center;
    margin: auto 5px;
  }
  .social-wrap {
    display: flex;
    justify-content: space-around;
  }
}
