// ===============SOCIAL MEDIA =================//
.social {
  grid-area: social;
}

.social-card {
  width: 90%;
  background-color: $accent-color;
  border-radius: 10px;
  border: 0.25px solid $border-hr-color;
  display: flex;
  padding: 10px;

  margin: 10px auto;
}

.social-svg {
  fill: $primary-color;
  width: 50px;
}
.social-details {
  margin-left: 20px;
  h4 {
    color: $primary-color;
    margin-bottom: 0;
  }
  p {
    font-size: 2.5rem;
    color: $typography;
  }
}

@media (min-width: 768px) {
  .social-card {
    // width: 100%;
  }
  .social-wrap {
    display: flex;
    justify-content: space-between;
  }
}
