* {
  margin: 0;
  // outline: 1px solid #f00 !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2rem;

  // width: 100vw;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "header"
    "nav"
    "dash";
}
hr {
  border: 1px solid $border-hr-color;
}
// =================== MAIN CONTAINER ================//

.container {
  width: 100%;
  margin: 15px 0px 20px;
  padding: 5px;
  h4 {
    margin: 0px 0px 30px;
  }
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 70px auto;
    grid-template-rows: repeat(1fr, auto);
    grid-template-areas:
      "header header"
      "nav dash";
  }
  .container {
    width: 83vw;
  }
}
