* {
  margin: 0;
  // outline: 1px solid #f00 !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "header"
    "nav"
    "dash";
}
hr {
  border: 1px solid $border-hr-color;
}
// =================== MAIN CONTAINER ================//

.container {
  margin: auto;
  padding: 5px;
  width: 94%;
  justify-content: center;
  align-items: center;
  h4 {
    margin: 0px 0px 5px;
  }
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 7% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "nav dash";
  }
}
